<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.penryn.snippet"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.BIND_VOICE_INTERACTION"/>

    <application
        android:name=".SnippetApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".SnippetInteractionService"
                 android:permission="android.permission.BIND_VOICE_INTERACTION"
                 android:process=":interaction">
            <meta-data android:name="android.voice_interaction"
                       android:resource="@xml/assist_metadata"/>
            <intent-filter>
                <action android:name="android.service.voice.VoiceInteractionService"/>
            </intent-filter>
        </service>

        <service android:name=".SnippetSessionService"
                 android:permission="android.permission.BIND_VOICE_INTERACTION"
                 android:process=":session"/>

        <receiver
            android:name=".BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
